*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url('../imags/img6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-header{
    margin-top: 50px;
}

.navbar-brand{
    padding-left: 20px;
    font-size: 30px;
}

.navbar{
    color: white;
}

.jumbotron{
    background-color: rgba(202, 201, 201, 0.493);
    margin-right: 15px;
}
.bannere{
    backdrop-filter: blur(5px);
    border: 1px solid white;
}
.lead{
    background-color: rgba(99, 75, 11, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(3px);
    box-shadow: 1px 1px 1px 1px rgb(41, 31, 4);  
}
.statement>a{
    color: rgb(99, 75, 11);
    text-decoration: none;
}
.formReg{
    background-color: rgb(248, 248, 248);
    color: white;
}
.statement>a:hover{
    color: rgb(41, 31, 4);
    text-decoration: underline;
    text-transform: uppercase;
}
.form{
    color: rgb(41, 31, 4);
    border-radius: 10px;
}

a{
    color: white;
}

.btn{
    width: 150px;
}

.image>img{
    width: 600px;
}

.page-header{
    color: grey;
    margin-left: 50px;
    padding: 30px;
}

.img-text{
    margin-left: 250px;
    margin-top: 8px;
}
.img-text>p{
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.page-des{
    color: gray;
    font-weight: bold;
    margin-top: 100px;
}

.gallery-img>img{
    width: 100%;
    margin: 5px;
    z-index: 1;
}
.gallery-img>img:hover{
    width: 330px;
    margin: 5px;
    z-index: 2;
}

.gallery-img-text{
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

.gallery-links{
    text-decoration: none;
}

a.gallery-links:hover{
    color: orange;
}

.img-container>a{
    color: orange;
}

.footer-list>li{
    list-style-type: none;
    display: inline-block;
}

.footer-list{
    float: right;
    margin-right: 20px;
}

.copyright>p{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 20px;
    color: grey;
}
.img-container.col-3{
    margin: 5px;
}
.gallery-img{
    margin: 6px;
    border: 2px solid black;
    border-right: none;
    border-radius: 6px 0 0 6px;
    padding: 1px;
}
.gallery-img:hover{
    margin: 0px;
    border: 0px solid red;
    border-right: none;
    border-radius: 6px 0 0 6px;
}