<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/bookappointment.css')}}">
</head>

<body>
    <div class="base_nav row">
        {%block navbar%}
        {%if header %}


        {%include 'home_page_navbar.html'%}


        {%else%}

        {%include 'home_page_navbar.html'%}
        {%include 'child_pages_navbar.html'%}

        {%endif%}
        {%endblock%}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>