<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}{%endblock%}</title>
</head>

<body>
  
    {%block navbar%}
    <div class="nav child_nav col-md-4">
      <span class="icons">
        <a href="" class="nav-item nav-link"><img src="../static/images/twitter.png" alt="twitter" width="40px"></a>
        <a href="" class="nav-item nav-link"><img src="../static/images/facebook.png" alt="facebook" width='35px'></a>
        <a href="" class="nav-item nav-link"><img src="../static/images/instagram.png " alt="instagram"
            width='35px'></a>

      </span>
    </div>
    {%endblock%}
</body>

</html>